



<div class="form-group">

<%= form_with model: @podcast, local: true do |f|%>

<div class = "field">

   <%= f.label :name, "Name your Podcast" %>

    <%= f.text_field :name %>

</div>

<div class = "field">

   <%= f.label :file, "Upload your podcast" %>

    <%= f.file_field :file %>
    
</div>

   

    <%= f.submit 'Create Podcast'%>
<% end %>

   
</div>




